{% extends "web/base.html" %}
{% block content %}
    <div class="text-center">
    <h2>Test</h2>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col border border-info">
      <h3>Programmering</h3>
      <p>Jeg </p>
    </div>
    <div class="col border border-info">
      <h3>Lidt om mig</h3>
      <p>Jeg er</p>
    </div>
    <div class="col border border-info">
      <h3>Projecter</h3>
      <p>Jeg har lavet</p>
    </div>
  </div>
</div>
{% endblock content %}
